.gradient-background {
    background: linear-gradient(300deg, #DCD7C9, #A27B5C, #2C3639);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #F5F5DC, #8B4513); /* Sandy to brown gradient */
}

#resume {
    color: white;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 6rem;
}

.job-title {
    text-align: center;
}

.section-title {
    margin-top: 20px;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
}

hr {
    color: white;
}

.project {
    border-radius: 20px;
}

.col {
    margin-bottom: 5px;
}

#linkedin {
    color: white;
}

#github {
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}